.App {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.split {display: none;}

.adv .split{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: auto;
}

.subsplit {
  display: flex;
  flex-direction: column;
    margin-top: 20px;
}

.zf {
  width: 100%;
}

.zonessel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
}

.zonesel {
/*  height: 8px;*/
/*  background: rgb(220, 36, 31);*/
  margin-left: 2px;
  margin-right: 2px;
  width: 100%;
  padding-top: 3px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #2070b0;
  background-color: #2070b0;
  color: white;
  font-weight: bold;
  transition: 0.1s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.connections {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
}

.connections img {
  width: 18px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.notconn {
  display: none;
}

.nozonesel {
  color: #bbb;
  background-color: white;
  border: 1px dashed #ccc;
  font-weight: normal;
}

.nozonesel:hover {
  background-color: #eff6fd;
  border: 1px solid #2070b0;
  color: black;
}

.zonesel span{
/*  width: 30px;*/
/*  height: 30px;*/
/*  line-height: 33px;*/
/*  color: white;*/
/*  font-weight: bold;*/
/*  font-size: 20px;*/
/*  border-radius: 15px;*/
/*  display: block;*/
/*  background-color: rgb(0, 25, 168);*/
}

.ilcont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  background: #eee;
  transition: 0.2s;
  border-bottom: 3px solid #ccc;
}

.adv {
  padding: 20px;
  width: auto;
  width: 500px;
}

.searcher input {
  width: 95%;
  height: auto;
  outline: none;
  border: none;
  background: none;
  font-size: 1.4rem;
  padding: 10px;
  padding-bottom: 4px;
  font-weight: bold;
  font-family: p22-underground, sans-serif;
  transition: 0.2s;
}

.adv input {
  background-color: white;
/*  width: 95%;*/
  border-bottom: 2px solid #ccc;
}

.adv input:focus {
  background-color: #eff6fd;
  border-bottom-color: #2070b0;
}

.sel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.linechecks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.linebullet {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 2px;
  border-radius: 20px;
/*  border: 1px solid black;*/
  font-weight: bold;
  font-size: 17px;
  display: flex;
  margin: 3px;
  cursor: pointer;
  transition: 0.1s;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid rgba(0,0,0,0);
  color: white;
}

.filterControls {
  display: flex;
  margin-right: 10px;
  flex-direction: row-reverse;
}

.filterControls div {
  margin-left: 15px;
  color: #2070b0;
  text-align: center;
  cursor: pointer;
}

.filterControls div:hover {
  text-decoration: underline;
}

.inactive {
  color: #bbb;
  text-shadow: none;
  border: 1px dashed #ccc;
/*  font-weight: normal;*/
}

.inactive:hover {
  color: black;
  border: 1px solid #2070b0;
  background-color: #eff6fd;
}

.bakerloo {
  background-color: rgb(178, 99, 0);
}

.central {
  background-color: rgb(220, 36, 31);
}

.circle {
  background-color: rgb(255, 211, 41);
}

.district {
  background-color: rgb(0, 125, 50);
}

.hc {
  background-color: rgb(244, 169, 190);
}

.jubilee {
  background-color: rgb(161, 165, 167);
}

.metropolitan {
  background-color: rgb(155, 0, 88);
}

.northern {
  background-color: rgb(0, 0, 0);
}

.piccadilly {
  background-color: rgb(0, 25, 168);
}

.victoria {
  background-color: rgb(0, 152, 216);
}

.wc {
  background-color: rgb(147, 206, 186);
}


.sel .select {
  margin-left: 10px;
}

.linefilter {
/*  width: 300px;*/
}

.linefilter .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 12px;
}

.linefilter .title span {
  font-size: 20px;
  font-weight: bold;
}



select { 
        -webkit-appearance: none; 
        -moz-appearance: none; 
        -ms-appearance: none; 
        appearance: none; 
        outline: 0; 
        background: white; 
        font-size: 17px;
        background-image: none; 
        border: none;
        color: black;
        font-family: p22-underground, sans-serif;
      } 
      .select {
        position: relative;
        display: block;
        font-family: p22-underground, sans-serif;
        background-color: white;
        padding: 5px;
        border: 1px solid #ccc;
        overflow: hidden; 
      } 
      select { 
        min-width: 230px;
        width: 120%;
        height: 100%; 
        margin: 0; 
        padding: 5px;
        cursor: pointer; 
      } 
      select::-ms-expand { 
        display: none; 
      }  
      .select::after { 
        content: '\25BE';
        font-size: 1.1rem;
        position: absolute; 
        top: 20%; 
        right: 0; 
        bottom: 0; 
        padding: 0 0.5em; 
        background: none; 
        pointer-events: none; 
      } 
      .select:hover::after { 
        color: #2070b0; 
      } 
        
      <!-- For different browsers -->
      .select::after { 
        -webkit-transition: .25s all ease; 
        -o-transition: .25s all ease; 
        transition: .25s all ease; 
      } 

.belowopts {
  display: flex;
  flex-direction: row;
}

.advanced, .clear {
  margin: 20px;
  color: #2070b0;
  font-size: 18px;
  cursor: pointer;
}

.clear {
  color: rgb(220, 36, 31);
}

.advanced:hover, .clear:hover {
  text-decoration: underline;
}

.searcher:focus-within {
  background-color: #eff6fd;
  border-bottom-color: #2070b0;
}

.adv:focus-within {
  background-color: #eee;
  border-bottom-color: #ccc;
}

.header {
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 50pt;
  line-height: 100%;
  font-weight: bold;
}

.header div {
  margin-top: 16px;
/*  text-transform: uppercase;*/
}

.sortby {
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px dashed #ccc;
  font-weight: bold;
  font-size: 19px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header img {
  width: 60px;
  margin-right: 25px;
}

.count {
  margin: 10px;
  color: #aaa;
}

.stations {
  width: 100vw;
  padding: 20px;
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.stat {
  margin-bottom: 5px;
}

.divider {
  margin-top: 20px;
  font-size: 17px;
}

.dividerConn {margin-top: 20px;
font-size: 17px;}

.item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px;
  background-color: #eee;
  border-bottom: 3px solid #ccc;
  transition: 0.3s;
/*  display: none;*/
}

.item:hover {
  background-color: #eff6fd;
  border-bottom-color: #2070b0;
}

.img_sect {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
}

.station_name {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
}

.station_content {
  padding: 15px 30px 15px 15px;
  color: #2d3039;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
  .header img {
    margin: 0;
    width: 80px;
  }
  
  .searcher {
    box-sizing: border-box;
    width: 95%;
  }
  
  .linebullet {
    font-size: 22px;
  }
  
  .zonessel {
    flex-wrap: wrap;
  }
  
  .zonesel {
    font-size: 22px;
    min-width: 80px;
    max-width: 120px;
    width: 28%;
    margin: 5px;
    height: 40px;
  }
  
  .stations {
    box-sizing: border-box;
    padding: 0;
  }
  
  .stations > div {
    margin-left: 0;
    box-sizing: border-box;
    margin-right: 0;
    width: 95%;
  }
  
  .item {
    width: 95%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  .img_sect {
    width: 200px;
    height: auto;
    background-size: fill;
  }
}